

<div class="container-fluid">
  <p style="color: green"><%= notice %></p>
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-left" style="margin-left: 11%">Catálogo de itens</h1>
    </div>
    <div class="text-end col-md-6">
       <%= link_to "Cadastrar Item", new_produto_path, style:"margin-right: 11%" , class: "btn btn-success text-end" %>
    </div>
  </div>
</div>

<hr class="my-4 border-top border-secondary">

<div class="container mb-3">
    <div class="row">
      <div class="col-11">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Pesquisar...">
        </div>
      </div> 
      <div class="col-1">
          <button class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
      </div>
    </div>
</div>

<div class="container">
  
  <table class="table">
    <thead>
      <tr>
        <th class="col-2" scope="col">GTIN/EAN</th>
        <th class="col-6" scope="col">DESCRIÇÃO</th>
        <th class="col-2" scope="col">FABRICANTE</th>
        <th class="col-2 text-end" scope="col">AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <th scope="row"><%= produto.ean %></th>
          <td><%= produto.descricao %></td>
          <td><%= produto.fabricante %></td>
          <td class="text-end ">

            <%= link_to produto, class: "btn-sm btn btn-outline-primary" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
            <% end -%>

            <%= link_to edit_produto_path(produto), class: "btn-sm btn btn-outline-primary " do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
            <% end -%>

            <div class="d-inline-block">
              <%= button_to produto, method: :delete, class: "btn-sm btn btn-outline-primary " do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
              <% end -%>
            </div>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


